<h1>Seja Bem-Vindo!</h1>
<p>Ihago -  Curso de Ruby on Rails!!!</p>

<ul>
    <li>
        <%= link_to "Moedas", coins_path %>
    </l>
    <li>
        <%#= link_to "Nova Moeda", %>
    </l>
    <li>
        <%#= link_to "Editar Moedas", %>
    </l>
</ul>